# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\API-main\VVPay_demo\java_demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
